extends layout

block content

  div(class="container")
    div(class="panel panel-default")
      div(class="panel-body")
        h2 Розклад

        p Цей сайт збирає інформацію про справи, призначені до розгляду
            у районних судах України. Мета -- подавати зібрані дані у зручному
            для пошуку та аналізу вигляді

        p Поки що дані збираються для таких міст:
          ul            
            each val in regionsArr
              li
                a(href="#{glSettings.websiteUrl}/region/#{val.id}") #{val.str}
              
        p Інші міста і області будуть згодом.



  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  script(src="static/bootstrap/js/bootstrap.min.js")


