doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")

    meta(name="description",content="")
    meta(name="author",content="")
    link(rel="icon",href="#{glSettings.websiteUrl}/static/favicon.ico")


    title Розклад всіх судів на одній сторінці.

    link(href="#{glSettings.websiteUrl}/static/bootstrap/css/bootstrap.min.css",rel="stylesheet")
  body
  
    include menu
    
    block content


    include footer
    
    include ga
